
.marginforside{
    margin-left: 240px;
}
.home{
    background-color: black;
}
@media (max-width:600px){
    .marginforside{
        margin-left: 0;
    }
    .disable{
        display: none;
    }
}