.rightbar {
    padding: 10px;
    color:white;
    position: fixed;
    right:0
    
}
.rightbarWrapper{
    -webkit-box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.13); 
    box-shadow: 1px 0px 5px 2px rgba(119, 116, 116, 0.658);
    width:325px;
    height: 100vh;
  background-color:rgb(63, 63, 63);
    border-radius: 20px;
    
    overflow-y: scroll;
    padding: 20px;
    padding-left: 0;
}
.rightbarHr{
    width:75%
}
.rightbarFriendList{
    padding: 0;
    margin: 0 25px;
    list-style: none;
}
.rightbarFriendImg{
    height: 60px;
    width: 60px;
    border-radius: 25%;
    object-fit: cover;
    margin-right: 10px;
}
.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

   

.rightbarFriendImgContainer{
    margin-right: 0px;
    position: -webkit-sticky;
    cursor: pointer;
}