*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.settings-body{
  background-color: rgba(23,23,23,.95);
}

.Heading{
  top:0;
  height: 85px;
  text-align: center;
  align-items: center;
}
.Heading h1{
  color:cornsilk;
  font-family: 'Lobster', cursive;
  font-size:4em;
  height: 85px;
  padding-top: 18px;
}

.Lower-part{
  padding-top: 10px;
  text-align: center;
  height:520px;
}

.accordion-item{
  background-color: rgba(23, 23, 23,0);
  margin: 30px 120px;
}
#accordionFlushExample{
  text-align: center;
}
.accordion-body{ 
  background-color:rgba(23,23,23,0);
}
.accordion-button {
  background-color:rgb(64, 75, 75);
  border: 1px solid rgb(80, 78, 75);
  color: wheat;
  font-family: 'Lobster', cursive;
  font-size:1em;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  margin-top: 10px;
}

.prfile-img img{
  width: 80px;
  border: 2px solid white;
  border-radius: 50%;
  
}
.prfile-img{
  padding-bottom: 40px;
  margin-right: 38px;
}

.text-area{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.text{
  width: 250px;
  height: 46px;
  border: 2px solid white;
  border-radius: 10px;
  resize: none;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-right: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  background-color:white;
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 1.4em
}

.btn-upload{
  margin-left: 15px;
  margin-top: -25px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  background-color: aqua;
  box-shadow: 2px 2px 3px white;
  color: black;
  font-family: 'Lobster', cursive;
}

::placeholder{
  color: black;
  opacity: .9;
}
#img-dp{
  height:30px;
  width:35px;
  border-radius: 50%;
  border: 2px solid wheat;
  padding-bottom:30px;
  margin-top: 0px;
  margin-left: 20px;
}
.lower-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.lower-form .Lower-btn button{
  margin-top: 0px;
  
}

#save{
margin-left: 0px;
color: black;
font-family: 'Lobster', cursive;
}

#cancel{
  margin-left: 21px;
  color:black;
  font-family: 'Lobster', cursive;
}

.logo{
  margin-left: -85px;
  margin-top: -80px;
}
