*{
    margin: 0;
    padding: 0;
    
}

.Heading{
    top:0;
    height: 85px;
    text-align: center;
}
.Heading h1{
    color:cornsilk;
    font-family: 'Lobster', cursive;
    font-size:3.2em;
    background-image: radial-gradient(circle,black,brown);
    height: 85px;
    padding-top: 18px;
    width: 100%;
}
.Lower-part{
    height: 260px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction:column;
}

#accordionFlushExample{
    height: 400px;
    width:100% ;
    background-image: radial-gradient(circle,rgb(65, 61, 61),brown,maroon);
    display: flex;
    justify-content:first baseline;
}

.accordion-item{
    background-color:darkslategray;
    height: 70px;
    width: 120px;
    margin: 20px;
}
/* Accordian body Div */
.accordion-body{ 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 5px dotted darkolivegreen;
    border-radius: 10px;
    background-color:darkslategray;
    height: fit-content;
    width: fit-content;
    }
    
/* Accordian Button div placed inside the Accordian body */
.accordion-button {
    height: 70px;
    width: 120px;
    border: 5px solid rgb(53, 16, 16);
    color: wheat;
    background-color: rgb(40, 49, 31);
    font-family: 'Lobster', cursive;
    font-size: x-large;
}

#logoInSettingPage{
    height:250px;
    width:220px;
    float:right;
    background-image: radial-gradient(circle,rgb(65, 61, 61),brown,maroon);
    text-align: center;
}
.logo{
    margin-left: -85px;
    margin-top: -80px;
  }
.logotitle{
    color: white;
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    margin-top: -80px;
  }
.prfile-img img{
    width: 80px;
    border: 2px solid white;
    border-radius: 50%;
    
}
.prfile-img{
    padding-bottom: 40px;
    margin-right: 38px;


}
.text-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.text{
    width: 228px;
    height: 46px;
    border: 2px solid white;
    border-radius: 10px;
    resize: none;
    margin-bottom: 20px;
    margin-top: 5px;
    
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    background-color: aqua;
}
.btn-upload{
    margin-left: 35px;
    margin-top: -15px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    background-color: aqua;
}

::placeholder{
    color: black;
    opacity: 1;
}
#img-dp{
    height:30px;
    width:35px;
    border-radius: 50%;
    border: 2px solid wheat;
    padding-bottom:30px;
    margin-top: 0px;
    margin-left: 20px;
}

.settings-body{
    background-color:brown;

}
.lower-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.lower-form .Lower-btn button{
    margin-top: 0px;
    
}

#save{
margin-left: 0px;
background-color: aqua;
}

#cancel{
    margin-left: 21px;
    background-color: aqua;
}