@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.app{
  align-content: center;
  align-items: center;
  align-self: center;
}

.category{
    background-color: goldenrod;
    color:rgb(66, 66, 66);
    font-family: 'Algerian';
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    border-radius: 10px;
}
.postpage{
background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}
.initials{
  margin-right: 0;
margin-left: 36px;
padding-top: 49px;
}
.profilepic{
  width:300px;
  height:300px;
  
}
.profilepicmod{
    width:50px;
    height:50px;
    
  }
  .profilepicfriendmod{
    width:50px;
    height:50px;
    
  }
  .caption{
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
  font-style: normal;
  color:rgb(0, 0, 0);
  font-weight: normal;
  font-size: 18px;
  }
  .commentmodal{
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
  font-style: normal;
  color:rgb(0, 0, 0);
  font-weight: normal;
  font-size: 18px;
  }


.links{
  text-decoration: none;
  font-size: 20px;
  color: blue;
  cursor: pointer;

}
.rightalign{
  text-align: right;
  align-self: right;
  color:white;
  align-content: right;
}

.profiletitle{
  font-family: 'Satisfy';
font-style: normal;
font-weight: 500;
color:white;
font-size: 48px;
}
.profiletitlemodal{
    font-family: 'Satisfy';
font-style: normal;
font-weight: 50;
color:rgb(0, 0, 0)28, 87, 87);
font-size: 25px;
}
.profiletitlefriendmodal{
    font-family: 'Satisfy';
font-style: normal;
font-weight: 50;
color:rgb(0, 0, 0)28, 87, 87);
font-size: 25px;
}
.pppostimagemodal{
    width: 100%;
    padding:0;
    height: 80vh;
    border-radius: 0 0 0 7px;
}
.pppost{
    padding:0;
    height: 80vh;
}
.btn-close{
  color:white
}

.allposts{
  margin-right: 10px;
  margin-left: 10px;
}
.profilepost{
  padding:10px;
}

.profilepostimg{
  height: 300px;
  box-shadow: 0px 0px 15px whitesmoke;
}
.profilepicmodal{
  width: 50vw;
  height: 80vh;
}
.pro{
  width: fit-content;
  background-color: transparent;
}
.profileopen{
padding: 0;
}
.links:hover{
  color:rgb(252, 252, 26)
}
.divider{
  width:60%;
  color:whitesmoke;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.profilebio{
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
font-style: normal;
color:white;
font-weight: normal;
font-size: 18px;
}
.numberofPosts{
  font-size: 60px;
  margin-left: 40px;
  margin-top: -20px;
}

.pdfyt{
    cursor: pointer;
    font-size: 35px;
    margin-top: 15px;
    margin-right: 20px;
}
.posts{
  text-align: center;
  font-size: 24px;
}
.reactionicon{
    cursor: pointer;
    font-size: 35px;
    margin-top: 15px;
    margin-right: 20px;
}

@media only screen and (max-width:800px){
    .open{
        display: none;
        }
  .initials{
    margin-left: 0;
  }
  .profilepic{
    align-content: center;
  }
  
.allposts{
    margin-right: 0px;
    margin-left: 0px;
  }
  
.profilepostimg{
    width: 100px;
    height: 100px;
  }
.rightalign{
  text-align: left;
  color:white;

}
.posts{
  text-align: right;
  margin-top: -70px;
}
.numberofPosts{
  margin-top: -20px;
}

}
