.faq-body{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50vh;
}

.faq-body h1{
    font-size: 5rem;
    font-family: 'Yellowtail', cursive;
}

.faq-back{
    color: grey;
    margin: 2.5rem;
}

.faq-back-div{
    text-align: right;
    background-color: whitesmoke;
}