.messageSender {
  display: flex;
  flex-direction: column;
  background-color:rgb(63, 63, 63);
  color:white;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  margin-left: 30px;
  margin-right: auto;
}

.messageSender__top {
  display: flex;
  padding: 10px;
}

.messageSender__top > form {
  flex: 1;
  display: flex;
}

.InputEmoji {
  outline-width: 0;
  border: none;
  color:white;
  background-color: rgb(172,172,172);
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 30px;
  display: flex;
}

.messageSender__top > form > button {
  display: none;
}

.messageSender__input {
  flex: 1;
}

.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}

.messageSender__option {
  
  display: flex;
  align-items: center;
  margin: 5px;
}

.messageSender__option > h3 {
  font-size: medium;
  margin-left: 10px;
  cursor: pointer;
}

.react-icons {
  color: gray;
  vertical-align: middle;
  margin-top: 10px;
}
.Preview {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.Preview > img {
  width: 30vw;
}
