@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {margin:25px;}

div.polaroid {
  width: 50%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  
}

div.container {
  text-align: center;
  padding: 5px 10px;
}
.modalsend {
    font-size: 32px;
    margin-top: 2px;
    margin-left: 20px;
    color: rgb(94, 92, 88);
    margin-right: 10px;
    cursor: pointer;
}
.modalsend:hover {
    color: rgb(0, 0, 0)
}
.reaction{
    font-size: 32px;
    margin-left: 20px;
    margin-bottom: 2px;
    color: rgb(94, 92, 88);
    margin-right: 10px;
    cursor: pointer;
}
.reaction:hover {
    color: rgb(0, 0, 0)
}
.yourcomment {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-left: 5px;
}
.caption {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-weight: normal;
    padding-left: 0;
    font-size: 16px;
    text-align: left;
    
}


.profilepicmod {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
.profiletitlemodal {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 50;
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
}

.custominput {
    border-radius: 20px;
}
img {
    width:100%;
    border-radius: 8px;
}

.first-txt {
            position: absolute;
            top: 50px;
            left: 50px;
        }
