@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.post-container{
    width: 100%;
    margin-left: 2.5rem;
    margin-top:20px;
    border-radius: 1rem;
    overflow: hidden;
    }
.btn-close{
    color: white;
}
.post-head{
    padding: 0;
}
.post-img-modal{
    width: 100%;
}
.post-img{
    height: 500px;
    width: 100%;
    object-fit: contain;
}

.author-img{
height: 4rem;
width: 4rem;
border-radius: 100px;
margin-right: 5px;
}
.time{
    margin-top: -30px;
}
.author-title{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.post-actions{
    font-size: 35px;
    cursor: pointer;
    color: wheat;
    
}
.open-view{
    height: 70vh;
    width: 80vh;
}

.post-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.post-below-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.numberoflikes{
    margin:10px
}
.numberofcomments{
    margin:10px
}
.shadows{
    -webkit-box-shadow: 6px 33px 78px -13px rgba(0,0,0,0.7) inset;
-moz-shadow: 6px 33px 78px -13px rgba(0,0,0,0.7) inset;
box-shadow: 6px 33px 198px -13px rgba(0,0,0,0.7) inset;
}
.comment-input{
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.load-comments{
    height: 300px;
    overflow-y: scroll;
    padding-left: 10px;
}

.author-img-modal{
padding: 0;

}

/* Download Icon css Properties.................. */

.downloadIconContainer{
    float: right;
    height: 40px;
    width: 40px;
    margin:10px -50px 10px 200px;
    background: transparent;
}

.downloadIcon{
    cursor: pointer;
   position: absolute;
   right:0;
   top:20px;
    color: white;
    height: 30px;
    width: 40px;
}
.postAuthor{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}