*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background-color: black;
}

.preloader{
    background-color: black;
    min-height: 100vh;
    color:white
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  
  @-o-keyframes spin {
    0% {
      -o-transform: rotate(0deg);
    }
    100% {
      -o-transform: rotate(360deg);
    }
  }
  
  @-ms-keyframes spin {
    0% {
      -ms-transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
    }
  }
  
  .loader {
    position: absolute;
    BACKGROUND-COLOR:BLACK;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 400px;
  }
  
  .loader .reel {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 10px solid GOLD;
    border-radius: 50%;
    display: inline-block;
  }
 
  .loader .spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: spin;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: spin;
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease;
    -o-animation-iteration-count: infinite;
    -ms-animation-name: spin;
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: ease;
    -ms-animation-iteration-count: infinite;
  } 
  
  .loader .reel .dot {
    width: 50px;
    height: 50px;
    background-color: wheat;
    border: 1px solid wheat;
    position: absolute;
    border-radius: 50%;
  }
  
  .loader .reel .d_top {
    top: 4px;
    left: 50%;
    margin-left: -20px;
  }
  
  .loader .reel .d_right {
    right: 4px;
    top: 50%;
    margin-top: -20px;
  }
  
  .loader .reel .d_center {
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    background-color: #fff;
    border-color: gold;
  }
  
  .loader .reel .d_left {
    left: 4px;
    top: 50%;
    margin-top: -20px;
  }
  
  .loader .reel .d_bottom {
    bottom: 4px;
    left: 50%;
    margin-left: -20px;
  }